<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc_project.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="darkContainer">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"> 
                    </button>
                    <div class="">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                            </li>
                            <li class="nav-item">
                                <asp-area="" asp-controller="Home" asp-action="Index"><a href="https://www.fifa.com/fifaplus/pt/tournaments/mens/worldcup/qatar2022" class="nav-link text-dark"  target="_blank">Ir ao Site Oficial da FIFA™</a></asp-area=>
                            </li>
                            <li class="nav-item">
                                <button class="btn"></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <section>
                <h5>Jogo 1 - Fase de grupos (Brasil 2x0 Sérvia) </h5>
                <iframe width="660" height="355" src="https://www.youtube.com/embed/_VCSlZ2n42o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <h5>Jogo 2 - Fase de grupos (Brasil 1x0 Suíça) </h5>
                <iframe width="660" height="355" src="https://www.youtube.com/embed/QjND0_vLK-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
        </div>

            <div class="container-footer">
                <a href="https://www.instagram.com/cbf_futebol/" target="_blank">Instagram CBF™ 📸</a> <br>
                <h6>&copy; 2022 - Projeto AV1 ASP.net <a asp-area="" asp-controller="Home" asp-action="Privacy"></a></h6>
            </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
