@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-6">Bem vindo</h1> <br>
    <h5>Veja aqui os melhores momentos da Seleção Brasileira de Futebol na Copa do Mundo FIFA 2022 no Qatar.</h5>
</div>
